@if (isLoading)
{
  <span>Connecting...</span>
}
@else
{
  <p class="font-bold">There are {{waitlistSize}} persons in the waitlist...</p>
}

<h3 class="text-3xl font-extrabold py-4">Enqueue</h3>

<div class="px-3 pb-2">
  <label for="txtName">Name: </label>
  <input type="text" id="txtName" placeholder="John Doe" />
</div>

<div class="px-3 pb-2">
  <label for="txtPartyQuantity">How many members are in your party? </label>
  <input type="number" id="txtPartyQuantity" min="1" placeholder="1" />
</div>

<button class="mx-3 mt-6 rounded-full" (click)="addToWaitList()" [disabled]="addedToWaitlist || isLoading">
  {{ addedToWaitlist ? "You are on the waitlist. Thank you!" : "Add me to the waitlist!"}}
</button>
