name: "Deploy to Netlify"

on:
  push:
    branches:
    - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.1.1
    
    - name: Use Node.js 18.x
      uses: actions/setup-node@v4.0.0
      with:
        node-version: 18.x
        cache: 'npm'
        cache-dependency-path: package-lock.json
        
    - name: Install dependencies
      run: npm install --legacy-peer-deps
      
    - name: Build file
      run: npm run build
      
    - name: Netlify Actions
      uses: nwtgck/actions-netlify@v2.1.0
      with:
        publish-dir: 'dist'
      env:
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
